h1{
  text-align: center;
  margin-top: 25px;
  font-size: 30px;
  font-weight: bold;
}

.tamanho-area{
  width: 640px;
  margin: 10px auto;
}

.tamanho-banca-ano{
  width: 640px;
  margin: 10px auto;
}
